	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #0e0d17;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
                color: #e2e1e1;
	}
       
	/*#444444*/
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 600;
                color: #ffffff;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #2980b9;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
		margin: 0 auto;
		padding: 0;
		width: 80%;
		overflow: hidden;
		list-style: none;
		text-align: left;
                color: #e2e1e1
	}
	
	ul.style1 li
	{
		padding: 1.6em 0em 0em 0em;
		margin: 0 0 2.5em 0;
		border-top: 1px solid rgba(0,0,0,.1); 
	}
	
	ul.style1 li:first-child
	{
		border-top: none;
	}
	
	ul.style1 p
	{
		margin: 0;
	}
	
	ul.style1 a
	{
		text-decoration: none;
                color: #F2600B;
	}
	ul.style1 a:hover
	{
		text-decoration: underline;
	}
	
	ul.style1 h3
	{
		padding: 1em 0em 5px 0em;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 400;
	}
	
	ul.style1 .first
	{
		padding-top: 0;
		background: none;
	}
	ul.style1 .first .rss
	{
		padding-top: 0;
		background: none;
	}
	ul.style1 .date
	{
		float: left;
		position: relative;
		width: 80px;
		height: 70px;
		margin: 0.5em 1.5em 0em 0.5em;
		padding: 1.5em 0em 1.5em 0em;
		box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0px 1px 0px rgba(0,0,0,.2);
		font-size: 1em;
		font-weight: 400;
		border-right: 1px solid rgba(0,0,0,.1); 
	}
	
	ul.style1 .date:after
	{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}
	
	ul.style1 .date b
	{
		margin: 0;
		padding: 0;
		display: block;
		margin-top: -5px;
		font-size: 1.8em;
		font-weight: 700;
	}
	
	ul.style1 .date a
	{
	}
	
	ul.style1 .date a:hover
	{
		text-decoration: none;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 3em 1em 2em;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #e2e1e1;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 320px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		text-transform: uppercase;
		font-size: 1.8em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
                color: #e2e1e1;
	}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		float: left;
		width: 300px;
		padding: 3em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		text-align: center;
		margin-bottom: 4em;
	}
	
	#logo h1
	{
		display: block;
                font-size: 1.8em;
                font-style: italic;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#logo span
	{
		padding-right: 0.5em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: #e2e1e1;
	}

	#logo span a
	{
		color: #e2e1e1;
	}
	
	#logo img
	{
		display: inline-block;
		margin-bottom: 1em;
		border-radius: 50%;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
	}
	
	#menu ul
	{
	}
	
	#menu li
	{
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 2em 1.5em;
		text-align: center;
		text-decoration:  none;
		text-transform: uppercase;
		font-weight: 700;
		color: #e3e3e3;
	}
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		background: #2980b9;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}
        .nav li {
            float: left;
            width: 20%;
            font-family: verdana,arial,sans-serif;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            background-image:none;
            background-color: #004E98;
            display: block;
            position: relative;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: white;
}

.nav li:a:hover {
    background-color: #093F6D;
}

.dropmenu {
  position: absolute;
  top:100%;
  left: 0;
}

.dropmenu li {
  display: block;
  float: left;
  width:100%;
}
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		margin-bottom: 4em;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		background: #1b1e32;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		overflow: hidden;
		float: right;
		width: 800px;
		padding: 3em 50px 5em 50px;
                background: #060710;
		border-top: 6px solid #2980b9;
		text-align: center;
                min-height: 1000px;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		margin-bottom: 3em;
		padding-top: 5em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright span
	{
		display: block;
		letter-spacing: 0.20em;
		line-height: 2.5em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #ffffff;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #ffffff;
	}

	.fa
	{
		display: block;
		color: #ffffff;
		background: red;
	}
      
/*.dropbtn {
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:100%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #252525;
}*/

#menu li.dropdown {
    position: relative;
    display: inline-block;
}

#menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-weight: bold;
}

#menu .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
}

#menu .dropdown a:hover {
    background-color: #2980b9;
    color:white;    
}

#menu .show {display:block;}

#gal
{
 width:auto;
 box-shadow:0px 0px 20px #cecece;
 -moz-transform: scale(0.7);
 -moz-transition-duration: 0.6s; 
 -webkit-transition-duration: 0.6s;
 -webkit-transform: scale(0.7);
 
 -ms-transform: scale(0.7);
 -ms-transition-duration: 0.6s; 
}

#gal:hover
{
  box-shadow: 20px 20px 20px #dcdcdc;
 -moz-transform: scale(0.8);
 -moz-transition-duration: 0.6s;
 -webkit-transition-duration: 0.6s;
 -webkit-transform: scale(0.8);
 
 -ms-transform: scale(0.8);
 -ms-transition-duration: 0.6s;
 
}
#prtable table{
   border-collapse: collapse;
   width: 100%;
}
#prtable table th{
   text-align: left;
}

#prtable th, td {
    padding: 15px;
    text-align: left;
}